.matchEntry {
  font-size: 14px;
  margin-right: 20px;
  text-transform: capitalize;
}

.matchEntryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}