.match-entry {
  font-size: 14px;
  margin-right: 20px;
  text-transform: capitalize;
}

.match-entry-container {
  border: 2px solid black;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
}