.book-container {
  display: flex;
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-05;
  padding: 20px;
  position: relative;
  width: 100%;
  &::after {
    content: '';
    background: url('./assets/book-badge.png') no-repeat center/contain;
    height: 100px;
    left: 260px;
    position: absolute;
    top: 0;
    transform: rotate(15deg);
    width: 80px;
  }
}

.book-cover {
  display: block;
  margin-right: 60px;
  position: relative;
  height: 400px;
}

.book-detail-name {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 4px;
}

.book-detail-value {
  font-size: 20px;
  margin-bottom: 20px;
}

.book-gender {
  font-size: 24px;
  margin-right: 4px;
}

.book-info-container {
  flex-grow: 1;
}

.books-list {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 120px;
  margin: 0 100px;
}

.books-list-background {
  background-color: $wild-sand;
}

.book-preview {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-05;
  height: 300px;
  margin: 20px;
  padding: 30px 30px;
  width: 200px;
}

.book-small-preview {
  height: 200px;
  width: 140px;
  margin-bottom: 10px;
}

.book-title {
  font-size: 32px;
  margin: 0;
}

.book-title-container {
  align-items: baseline;
  margin-bottom: 30px;
  position: relative;
  &::before {
    content:'';
    background-color: $earls-green;
    height: 4px;
    position: absolute;
    top: 30px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {

  .book-info-container {
    flex-grow: 0;
  }

  .book-title-container {
    margin-bottom: 25px;
  }

  .book-title {
    font-size: 20px;
    margin-right: 10px;
  }

  .book-gender {
    font-size: 16px;
  }

  .book-detail-name {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .book-detail-value {
    font-size: 14px;
    margin-bottom: 0;
  }

  .book-container {
    flex-direction: column;
    max-width: 350px;
    margin-bottom: 30px;
    padding: 30px;
    &::after {
      left: auto;
      right: 30px;
      top: 15px;
    }
  }

  .book-cover {
    height: 300px;
    margin: 0 auto 10px;
    width: 210px;
  }
}
