.info-container {
  background-color: $wild-sand;
  justify-content: space-between;
  left: 50%;
  max-width: 300px;
  padding: 25px 25px 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  &::before {
    content: '';
    background-color: $cerulean;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.login-img {
  height: 70px;
  margin: 0 auto;
  width: 210px;
}


.submit-button,
.redirect-button {
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 250px;
  position: relative;
}

.submit-button {
  background-color: $earls-green;
  color: $white;
  margin-bottom: 30px;
  &::before {
    background-color: $gray;
    content: '';
    height: 2px;
    left: 0px;
    position: absolute;
    top: calc(100% + 14px);
    width: 100%;
  }
}

.redirect-button {
  background-color: $wild-sand;
  border: 2px solid $earls-green;
  box-sizing: border-box;
  color: $earls-green;
}
