.bold {
  font-weight: bold;
}

.book-badge {
  &::after {
    content: '';
    background: url('./assets/book-badge.png') no-repeat center/contain;
    height: 100px;
    left: 220px;
    position: absolute;
    top: 0;
    transform: rotate(15deg);
    width: 80px;
  }
}

.book-container {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-05;
  max-width: 1000px;
  padding: 20px;
  width: 100%;
}

.book-cover {
  display: block;
  height: 360px;
  margin-right: 40px;
  position: relative;
}

.book-detail-name {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 4px;
}

.book-detail-value {
  font-size: 20px;
  margin-bottom: 20px;
}

.book-gender {
  font-size: 24px;
  margin-right: 4px;
}

.book-info-container {
  flex-grow: 1;
  margin-right: 100px;
}

.books-list {
  align-content: center;
  background-color: $wild-sand;
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

.book-preview {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-05;
  height: 300px;
  margin: 20px;
  padding: 30px 30px;
  width: 200px;
}
.book-preview-info {
  margin-top: 10px;
}

.book-small-preview {
  height: 200px;
  width: 140px;
}

.book-title {
  font-size: 32px;
  margin: 20px 0 40px;
}

.book-title-container {
  align-items: baseline;
  margin-bottom: 40px;
  position: relative;
  &::after {
    content:'';
    border-bottom: 4px solid $earls-green;
    bottom: 20px;
    height: 4px;
    position: absolute;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.detail-color {
  color: $gray;
}

.height {
  line-height: 24px;
}
