.body-detail {
  height: 100vh;
  padding: 40px 60px;
}

.body-background {
  background-color: $wild-sand;
}

.bold {
  font-weight: bold;
}

.book-container {
  display: flex;
  flex-direction: row;
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-05;
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  position: relative;
  width: 100%;
  &::after {
    content: '';
    background: url('./assets/book-badge.png') no-repeat center/contain;
    height: 100px;
    left: 220px;
    position: absolute;
    top: 0;
    transform: rotate(15deg);
    width: 80px;
  }
}

.book-cover {
  display: block;
  height: 360px;
  margin-right: 40px;
  position: relative;
}

.book-detail-name {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 4px;
}

.book-detail-value {
  font-size: 20px;
  margin-bottom: 20px;
}

.book-gender {
  font-size: 24px;
  margin-right: 4px;
}

.book-info-container {
  flex-grow: 1;
  margin-right: 100px;
}

.books-list {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 120px;
  margin: 0 100px;
}

.books-list-background {
  background-color: $wild-sand;
}

.book-preview {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $black-05;
  height: 300px;
  margin: 20px;
  padding: 30px 30px;
  width: 200px;
  transform: scale(1);
  transition: transform 100ms;
  &:hover{
    transform: scale(1.2);
  }
}

.book-small-preview {
  height: 200px;
  width: 140px;
  margin-bottom: 10px;
}

.book-title {
  font-size: 32px;
  margin: 20px 0 40px;
}

.book-title-container {
  align-items: baseline;
  margin-bottom: 40px;
  position: relative;
  &::before {
    content:'';
    background-color: $earls-green;
    bottom: 20px;
    height: 4px;
    position: absolute;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.detail-color {
  color: $gray;
}

.height {
  line-height: 24px;
}

.input-description {
  font-size: 16px;
}

.input-field {
  background-color: $white;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 30px;
  width: 250px;
}

.redirect-arrow {
  font-size: 20px;
  margin-left: 100px;
  position: relative;
  &::before {
    content: '';
    background: url(./assets/back-arrow.png) no-repeat;
    height: 40px;
    margin-left: -40px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1024px) {

  .body-detail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
  }

  .book-info-container {
    display: grid;
    flex-grow: 0;
    margin-right: 0;
  }

  .book-title-container {
    margin-bottom: 0;
  }

  .book-title {
    font-size: 20px;
    margin-right: 10px;
  }

  .book-gender {
    font-size: 16px;
  }

  .book-detail-name {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .book-detail-value {
    font-size: 14px;
    margin-bottom: 0;
  }

  .book-container {
    align-items: center;
    box-shadow: 4px 4px 10px 0 $black-05;
    display: grid;
    max-width: 330px;
    margin: 30px auto;
    padding: 30px;
    position: relative;
    width: 100%;
    &::after {
      content: '';
      background: url('./assets/book-badge.png') no-repeat center/contain;
      height: 70px;
      left: 220px;
      position: absolute;
      top: 20px;
      transform: rotate(15deg);
    }
  }

  .book-cover {
    display: grid;
    height: 300px;
    width: 210px;
    margin: 0px 40px 10px;
    position: relative;
  }

  .redirect-arrow {
    margin-left: 0;
    order: 1;
  }

  .height {
    line-height: 16px;
  }

}
