.bold {
  font-weight: bold;
}

.book-container {
  padding: 10px;
}

.book-cover {
  height: 368px;
  width: 261px;
  margin-right: 40px;
}

.book-detail-value {
  color: $gray;
  font-size: 20px;
  margin-bottom: 20px;
}

.book-detail-name {
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 4px;
}

.book-gender {
  color: $gray;
  font-size: 24px;
  margin-right: 4px;
}

.book-info-container {
  flex-grow: 1;
  margin-right: 100px;
}

.book-title-info-container {
  align-items: baseline;
}

.book-title {
  font-size: 32px;
  margin: 20px 0 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.height {
  line-height: 24px;
}

.row {
  display: flex;
}
