.body-detail {
  height: 100vh;
  padding: 40px 60px;
}

.body-background {
  background-color: $wild-sand;
}

.bold {
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
}

.detail-color {
  color: $gray;
}

.height {
  line-height: 24px;
}

.input-label {
  font-size: 14px;
  margin-bottom: 12px;
}

.input-field {
  background-color: $white;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 16px;
  width: 250px;
}

.redirect-arrow {
  font-size: 20px;
  position: relative;
  transform: translateX(70%);
  &::before {
    content: '';
    background: url(./assets/back-arrow.png) no-repeat;
    height: 40px;
    margin-left: -40px;
    position: absolute;
    width: 100%;
    left: 0px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1024px) {

  .body-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .redirect-arrow {
    margin: 0;
    order: 1;
    transform: translateX(10%);
  }

  .height {
    line-height: 16px;
  }

}
